<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о заказе</title>
</head>
<body>
<h3>Информация о заказе:</h3>

  <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
  <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">
  <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
  <p th:text="'Количество ' + ${order.getCount()}"></p>
  <p th:text="'Цена: ' + ${order.getPrice()}"></p>
  <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
  <p th:text="'Статус: ' + ${order.getStatus()}"></p>
<p th:text="'Пользователь: ' + ${order.getPerson().getId()}"></p>
    <a th:href="@{/admin/order_list/order_info/order_edit/{id}(id=${order.getId()})}">Редактирование заказа</a>
</div>

</body>
</html>